# Makefile for libpassword_hasher
# Copyright (C) 2016 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = password_hasher

LIB_BOOST_LIB_NAMES := system

LIB_SRCC = \
        login_to_id_converter.cpp \
        crc32.c \
        sha256.c

LIB_EXT_LIB_NAMES = \
